.games__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.games {
  margin: 1em;
  display: grid;
  place-items: center;
  gap: 1em 2em;
  min-width: 90%;
}

.game {
  border: 1px solid var(--clr-caramel);
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.game__image {
  max-width: 15em;
  padding: 1em;
}

.game:hover {
  cursor: pointer;
  background: var(--clr-caramel);
  filter: drop-shadow(0 0 1em var(--clr-caramel));
}

/* md */
@media (min-width: 768px) {
  .games {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
