.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  position: relative;
}

.header__logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header img {
  max-width: 10em;
  filter: drop-shadow(0 0 0.5em var(--clr-caramel));
  margin: auto;
}

.header img:hover {
  cursor: pointer;
}

.gamejolt {
  padding: 1em;
  margin: 1em;
}

.gamejolt img {
  max-width: 17em;
  filter: none;
}

/* md */
@media (min-width: 768px) {
  .header::after {
    content: "";
    position: absolute;
    bottom: -1.5em;
    left: 10%;
    width: 80%;
    height: 1px;
    background: var(--clr-caramel);
  }

  .header img {
    max-width: 15em;
  }
}
