.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  position: relative;
}

.header img {
  max-width: 10em;
  filter: drop-shadow(0 0 0.5em var(--clr-caramel));
  margin: auto;
}

.header img:hover {
  cursor: pointer;
}

/* md */
@media (min-width: 768px) {
  .header::after {
    content: "";
    position: absolute;
    bottom: -1.5em;
    left: 10%;
    width: 80%;
    height: 1px;
    background: var(--clr-caramel);
  }

  .header img {
    max-width: 15em;
  }
}
